@page "{StartDate:DateTime?}/{EndDate:DateTime?}"
@model OpenMnWeather.Pages.WeatherData.DataModel
@{
}

<div>
    <form method="get" asp-page-handler="OnPost">
        <label asp-for="StartDate">Start Date</label>
        <div id="errorMessage">
            <span asp-validation-for="StartDate"></span>
        </div>  
       <ejs-datepicker id="StartDate" ejs-for="StartDate"></ejs-datepicker>
        <ejs-datepicker id="EndDate" ejs-for="EndDate"></ejs-datepicker>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>

<div class="tree-grid">
    <ejs-treegrid id="TreeGrid" dataSource="@Model.Metars" childMapping="StationId" treeColumnIndex="0">
        <e-treegrid-columns>
            <e-treegrid-column field="StationId" headerText="Station Id"></e-treegrid-column>
            <e-treegrid-column field="ObservationTime" headerText="Report Time" format="MM/dd/yyyy hh:mm"></e-treegrid-column>
            <e-treegrid-column field="TempC" headerText="Temperature (Celsius)"></e-treegrid-column>
            <e-treegrid-column field="PrecipIn" headerText="Precipation (Inches)"></e-treegrid-column>
            <e-treegrid-column field="RawText" headerText="Raw Metar Text"></e-treegrid-column>
        </e-treegrid-columns>
    </ejs-treegrid>
</div>
