@page "{start:DateTime?}/{end:DateTime?}"
@model OpenMnWeather.Pages.WeatherData.SearchResultModel
@{
}

<h2>Testing redirect</h2>
<h3>Start Date</h3> @Model.StartDate
<h3>End Date</h3> @Model.EndDate   
